services:
  mongo:
    image: mongo:7
    container_name: diploma_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - ./load/init_mongo.js:/docker-entrypoint-initdb.d/init_mongo.js:ro
    healthcheck:
      test: mongosh --eval "db.runCommand('ping').ok" --quiet
      interval: 5s
      timeout: 5s
      retries: 5

  spark:
    build:
      context: .
      dockerfile: transform/Dockerfile
    container_name: diploma_spark_etl
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      - PYTHONUNBUFFERED=1
      - MONGO_URI=mongodb://mongo:27017
      - MONGO_DB=diploma
    volumes:
      - ./extract:/app/extract
      - ./transform:/app/transform

  dashboard:
    build:
      context: ./dashboard
      dockerfile: Dockerfile
    container_name: diploma_dashboard
    depends_on:
      spark:
        condition: service_completed_successfully
    ports:
      - "8501:8501"
    environment:
      - MONGO_URI=mongodb://mongo:27017

volumes:
  mongo_data:
